.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    flex-basis: 100%;
    margin-bottom: 0;
}

.places article {
    place-items: center stretch;
    width: 390px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
    margin: 0px;
}
